@import 'antd/dist/antd.css';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap';

.section {
	background-color: var(--background-color);
}

.container {
	max-width: 1028px;
	width: 100%;
	margin: auto;
}
